@import '../fonts/fonts.css';

html, body, #root, .flex, .root, noscript {
  height: 100%;
}

a {
  color: inherit;
}

body {
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
}

noscript {
  display: flex;
  align-items: center;
}

noscript div {
  margin: 0 auto;
}

#root {
  background: rgba(0, 0, 0, .7);
}

.flex {
  display: flex;
  align-items: center;
}

.flex .root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 6em;
  left: 6em;
  right: 6em;
  width: calc(100% - 12em);
}

footer:before {
  display: block;
  content: '';
  margin: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, .2);
  width: 100%;
}

footer {
  color: white;
}

footer a {
  font-size: 20px;
  margin: 0 8px;
}

footer a:nth-child(1) {
  margin-left: 0;
}

footer a:last-child {
  margin-right: 0;
}

footer .links {
  float: right;
}

footer .links .fa {
  padding: 2px;
}

@media (min-width: 320px) and (max-width: 1025px)  {
  .flex .root {
    bottom: 2em;
    right: 2em;
    left: 2em;
    width: calc(100% - 4em);
  }
}
