.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card__heading {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 10px;
}

.card__links {
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 10px;
}

.link {
  transition: opacity 0.4s;
  opacity: 0.8;
}

.link:hover {
  opacity: 1;
}
