@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Thin'),
        url(./Roboto_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcT8E0i7KZn-EPnyo3HZu7kw.woff */
        url(./Roboto_300_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcSZ2oysoEQEeKwjgmXLRnTc.ttf */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'),
        url(./Roboto_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/Y5yuUJGDLtmYv2_3fMB4fA.woff */
        url(./Roboto_400_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/roboto/v16/wVT7FLiFaRYBojdntuOytOvvDin1pK8aKteLpeZ5c0A.ttf */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'),
        url(./Roboto_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/oHi30kwQWvpCWqAhzHcCSD8E0i7KZn-EPnyo3HZu7kw.woff */
        url(./Roboto_500_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/roboto/v16/oHi30kwQWvpCWqAhzHcCSCZ2oysoEQEeKwjgmXLRnTc.ttf */
}
