html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: fixed #dcdcdc url(../images/background.jpg) no-repeat center;
  font-family: 'Montserrat', 'Segoe UI', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
